<h1>Login page</h1>

<%= form_for(:session, url: login_path) do |f| %>

    

    <div id="flash_messages">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>

    <p>
      <%= f.label :username %><br>
      <%= f.text_field :username %>
    </p>

    <p>
      <%= f.label :password %><br>
      <%= f.text_field :password %>
    </p>

      <%= f.submit "Log in" %>
    <% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>
