<h1>Login page</h1>

<%= form_for(
      :session,
      :method => :post,
      :url => "/welcome/create_new_session"
      ) do |f| %>



    <div id="flash_messages">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>

    <p>
      <%= f.label :username %><br>
      <%= f.text_field :username %>
    </p>

    <p>
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </p>

      <%= f.submit "Log in" %>
    <% end %>

<p>New user? <%= link_to "Sign up now!", "/welcome/registration" %></p>
