<%= javascript_include_tag 'application' %>

<div id="container">
  <div id="header">
    <div class="frame padding10">
      <a href="/welcome/index" style="color: inherit; font: inherit; text-decoration: inherit;">
        WinterMood
      </a>
    </div>
  </div>
  <div id="main">

    <% if (@moods.size == 0) %>
      <div id="feature">
        <div class="frame">
          <div class="left v_center">
          WinterMood is an application that tracks your mood and determines if you are subject to Seasonal Affective Disorder
          </div>
        </div>
      </div>
      <br clear="all">

      <div class="username_display">
            <span style="font-size: 46px" > You currently have no mood data! </span>
      </div>

      <div class="buttons">
        <%= link_to("/dataentry/index") do %>
          <button type="button" class="big">Enter data</button>
        <% end %>

      <% else %>

        <center>
          <div class="username_display">
            <span style="font-size: 46px" > General mood over time </span>
          </div><br/>
            <%= mood_pie_chart %><br/>
          <div class="username_display">
            <span style="font-size: 46px" > Mood by month </span>
          </div><br/>
            <%= mood_time_graph %><br/>
          <div class="username_display">
            <span style="font-size: 46px" > Mood related to sleep </span>
          </div><br/>
            <%= mood_sleep_graph %><br/>
          <div class="username_display">
            <span style="font-size: 46px" > Mood related to exercise </span>
          </div><br/>
            <%= mood_exercise_graph %><br/>
          <div class="username_display">
            <span style="font-size: 46px" > User activity over time </span>
          </div>
            <%= input_over_time %>
        </center>

      <% end %>

  </div>
  <div id="footer">
    <div class="frame padding10">
      <div class="left">
        &#169; WinterMood 2017
      </div>
      <div class="right">
        <b>Project created and developed by:</b><br/>
        Vasundhara Gautam<br/>
        Gabriel Faulhaber<br/>
        Dylan Bing-Manners<br/>
        Gavin Xu<br/>
        Mitchell Larson<br/>
      </div>
    </div>
  </div>
</div>
